[submodule "vesselNNlab/3rdParty/EvaluateSegmentation"]
	path = vesselNNlab/3rdParty/EvaluateSegmentation
	url = https://github.com/Visceral-Project/EvaluateSegmentation.git
[submodule "vesselNNlab/3rdParty/edges"]
	path = vesselNNlab/3rdParty/edges
	url = https://github.com/pdollar/edges.git
[submodule "vesselNNlab/3rdParty/toolbox"]
	path = vesselNNlab/3rdParty/toolbox
	url = https://github.com/pdollar/toolbox.git
[submodule "vesselNNlab/3rdParty/latexTable"]
	path = vesselNNlab/3rdParty/latexTable
	url = https://github.com/eliduenisch/latexTable.git
[submodule "vesselNN_dataset"]
	path = vesselNN_dataset
	url = https://github.com/petteriTeikari/vesselNN_dataset.git
[submodule "znn-release"]
	path = znn-release
	url = https://github.com/seung-lab/znn-release
